*{
    padding:0px;
    margin:0px;
}

.lt{
    background-color: crimson;
    width:10%;
    height:100%;
    position:fixed;
    top:50px
    
}




.nv{
    position:fixed;
    top:0px;
    height:50px;
    width:100%;
    background-color:rgb(0, 0, 0);
    text-align: right;

}
.nbt{
    position:relative;
    top:10px;
    right:20px;
    text-align: center;
    font-size: large;
    
}

.hz{
   background-color: aqua;
   position: relative;
   padding:25px;
   right:0px;
   top:50px;
   margin-left:10%;
}
.kn{
   background-color: rgb(249, 219, 182);
   position: relative;
   padding:25px;
   right:0px;
   top:50px;
   margin-left:10%;
}

.lbt{
    font-size:x-large; 
    padding:10;
    width:100%;
    text-align: center;
    margin-top:10%;
    background-color: rgb(255, 153, 153);

    
}
