:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frm{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
  padding: 100px;
}

input{
  background-color: white;
  border-color: brown;
  color: black;
  padding: 20px;
  font-size: large;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 15px;
  text-align: center;
}

button{
  background-color: white;
  border-color: brown;
  color: black;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  text-align: center;
  font-size: x-large;
}


table{
  border: 2px solid black;
}
