
.wco{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    top:90px;
    background-color:white;
     padding: 60px;
}
.wci{
    background-color:white;
}

.wcb{
    background-color:white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap:50px;
   
}
.wcb1{
    background-color: rgb(229, 185, 153);
    padding:60px;
    border-radius: 35px;
}
.wc{
    background-color: brown;
    padding: 2px;
    width:100%;
}