.nv{
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    top:0px;
    width: 100%;
    /* align-items: flex-start; */
    justify-content: end; 
    background-color: black;
    color: white;
    gap:15px;

    

}