.nv{
    
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    top:0px;
    width: 100%;
    min-height: 20px;
    /* align-items: flex-start; */
    justify-content: end; 
    background-color: black;
    color: white;
    gap:15px;
    z-index: 1;

}