.tmls{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin-top:100px;
    background-color:white;
     padding: 60px;
}

.rws{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:50px;
}
.rws1{
    background-color: rgb(229, 185, 153);
    padding:60px;
    margin-top: 100px;
    border-radius: 35px;
}

.rc{
    background-color: brown;
    padding: 2px;
    width:100%;
}