*{
    margin: 0px;
    padding:0px;
}
ol{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}
li{
    color:white;
    padding-left: 5px;
    
}ol{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}
li{
    color:white;
    padding-left: 5px;
    
}

nav{
    position:fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(35, 9, 9);
    align-items: center;
}

nav{
    position:fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(35, 9, 9);
    align-items: center;
}