#root {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  /* text-align: center; */
  color:rgb(85, 12, 12);
  background-color:white;
  width: 100%;
  font-size: large;
  
}

.di{
  width: 100%;
}


 