body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

div{
    margin: 0%;
    padding: 0%;
    padding-bottom: 20px;
}

h5{
    font-size: larger;
    font-weight: 500;
}

nav{
    position: relative;
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    /* padding: 5px ; */
    padding-right: 20px;
    background-color: brown;
    color: aliceblue;

}

marquee{
    background-color: burlywood;
    padding: 20px;
    font-size: 20px;
   border-bottom: solid 2px black;
}
h3{
    font-size: 30px;
    padding-left: 30px;
}

p{
    padding-left: 50px;
    padding-right: 75px;
    display: flex;
    flex-flow: row wrap;
    word-spacing: 4px;
    line-height: 25px;
    
}

.hdv{
    background-color: rgb(195, 110, 45);
    
}



