body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: rgb(83, 40, 8);
    
    /* box-sizing: border-box; */
}



div{
    margin: 0%;
    padding: 0%;
    padding-bottom: 20px;
}

a{
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
    color: rgb(84, 51, 16);

    
}

nav{
    position: relative;
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    padding: 15px ;
    padding-right: 20px;
    background-color: rgb(248, 244, 225);
    color: rgb(84, 51, 16);
    border:solid 2px rgb(84, 51, 16);


}

marquee{
    background-color:rgb(116, 81, 45);
    padding: 20px;
    font-size: 20px;
    color: rgb(248, 244, 225);
   border-bottom: solid 2px black;
}
h3{
    font-size: 30px;
    padding-left: 30px;
}

p{
    padding-left: 50px;
    padding-right: 75px;
    display: flex;
    flex-flow: row wrap;
    word-spacing: 4px;
    line-height: 25px;
    
}

.hdv{
    background-color: rgb(175, 143, 111);
    /* border:solid 5px rgb(241, 222, 201); */
    
}

.wco{
    /* border:solid 5px rgb(241, 222, 201); */

    background-color:rgb(248, 244, 225);
    border-bottom:solid 1px rgb(84, 51, 16);

}
.wcb{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    gap:100px;
    padding:70px;
}


.wcb1{
    background-color: rgb(175, 143, 111);
    padding: 70px;
    border-radius: 25px;
    border: solid 7px rgb(116, 81, 45);
   

}
.tmls{
    background-color:rgb(248, 244, 225);
    padding-top:1px;

}

.rws{
    
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

.rws1{

    background-color: rgb(175, 143, 111);
    padding: 50px;
    border-radius: 25px;
    border: solid 7px rgb(116, 81, 45);
}






